@font-face {
    font-display: swap;
    font-family: 'Plus Jakarta Sans-400';
    font-style: normal;
    font-weight: 400;
    src: url('public/font/plus-jakarta-sans-v8-latin/plus-jakarta-sans-v8-latin-regular.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Plus Jakarta Sans-500';
    font-style: normal;
    font-weight: 500;
    src: url('public/font/plus-jakarta-sans-v8-latin/plus-jakarta-sans-v8-latin-500.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Plus Jakarta Sans-700';
    font-style: normal;
    font-weight: 700;
    src: url('public/font/plus-jakarta-sans-v8-latin/plus-jakarta-sans-v8-latin-700.woff2') format('woff2');
}
::-webkit-scrollbar {
    width: 0px;
}

.container{
    max-width: 1440px;
    margin: 0px auto;
    padding: 0px 40px;
}